.player__play-control {
  display: block;
  width: 47px;
  height: 47px;
  background-color:#C4C4C4;
  border: 1px solid #9C9595;
  background-image: url(../../../assets/images/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.player__play-control:hover {
  background-color: #9C9595;
}