.player__previous-btn {
  display: block;
  width: 47px;
  height: 47px;
  background-color:#C4C4C4;
  border: 1px solid #9C9595;
  background-image: url(../../../assets/images/previous.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.player__previous-btn:hover {
  background-color: #9C9595;
}

.player__previous-btn:disabled {
  background-color: #cdc8c8;
  cursor: default;
}