.player__progress-bar {
  height: 47px;
  padding-left: 17px;
  padding-right: 25px;
  background-color:#C4C4C4;
  border: 1px solid #9C9595;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.player__progress-line {
  display: block;
  box-sizing: border-box;
}

.player__progress-line[value] {
  width: 673px;
  height: 10px;
  max-height: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 49px;
  position: relative;
}

/* .player__progress-line[value]::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #7ABCF9;
} */

.player__progress-line[value]::-webkit-progress-bar {
  width: 673px;
  height: 10px;
  max-height: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 49px;
}

.player__progress-line[value]::-webkit-progress-value {
  background-color: #7ABCF9;
  border-radius: 10px;
  position: relative;
}

.player__progress-line[value]::-moz-progress-bar {
  width: 673px;
  height: 10px;
  max-height: 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 49px;
}

.player__progress-line[value]::-moz-progress-value {
  background-color: #7ABCF9;
  border-radius: 10px;
}

.player-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 26px;
}

.player__video-duration {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 68px;
  position: relative;
}

.player__video-duration_type_full::before {
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -13px;
  border-left: 1px solid #9C9C9C;
}